:root {
  --primary-color: #3581B8;
  --primary-color-dark: #29658f; 
  --secondary-color: #f79655e7;
  --tertiary-color: #e5e8dd;
  --quaternary-color: #dfeaf9;

  --primary-font-color: #5a5a5a;
  --secondary-font-color: #f7f7f7;
  --tertiary-font-color: #787878;
}

*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen';
}

#root, body{
  min-height: 100vh;
  min-width: 100%;
}